In [1]:
# Shift + enter
print("Hello World")

Hello World

In [5]:
a= 10.4

In [6]:
print(a)

10.4

In [7]:
type(a)

float

In [8]:
a = "Hello world"

In [9]:
print(a)

Hello world

## Conditional Statements

In [17]:
a = 4

if a>10:
    print("greater than 10")
elif a<5:
    print("less than 5")
else:
    print("print this also")

less than 5

## Iterations

In [19]:
i=0
while (i <10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(3, 20,3):
    print(i)

3
6
9
12
15
18

## Functions

In [29]:
def func_name(a,b,c,):
    # a*b - c
    return (a*b - c)

In [31]:
func_name(10,3,5)

25

In [35]:
def sayHi(name="Unknown"):
    print( "Hello " + name )

In [36]:
sayHi()

Hello Unknown

## Strings

In [37]:
s = "Hello World is a string"

In [38]:
print(s)

Hello World is a string

In [39]:
type(s)

str

In [40]:
for e in s:
    print(e)

H
e
l
l
o

W
o
r
l
d

i
s

a

s
t
r
i
n
g

In [41]:
len(s)

23

In [42]:
s.lower()

'hello world is a string'

In [43]:
s.upper()

'HELLO WORLD IS A STRING'

In [44]:
s

'Hello World is a string'

In [46]:
s.find("alpha")

-1

In [47]:
## SLicing

In [53]:
s[-2]

'n'

In [55]:
# s[start_index : end_index + 1]
s[0:5]

'Hello'

In [58]:
s[-6 : ]

'string'

# Data Structures in Python

## List

In [59]:
l = [3,4,7,2,9,8]

In [60]:
print(l)

[3, 4, 7, 2, 9, 8]

In [61]:
l[0]

3

In [62]:
l[-1]

8

In [63]:
l[1:5]

[4, 7, 2, 9]

In [64]:
l.append(90)

In [65]:
print(l)

[3, 4, 7, 2, 9, 8, 90]

In [66]:
l.pop()

90

In [67]:
l

[3, 4, 7, 2, 9, 8]

In [68]:
l.reverse()

In [69]:
l

[8, 9, 2, 7, 4, 3]

In [70]:
l.sort()

In [71]:
l

[2, 3, 4, 7, 8, 9]

In [74]:
lnew = ["Hello", 1,5,8, 9.5, 45]

In [75]:
lnew

['Hello', 1, 5, 8, 9.5, 45]

In [77]:
l[0] = 800

In [78]:
l

[800, 3, 4, 7, 8, 9]

## Tuple

In [79]:
t1 = (7,2,9,1)

In [80]:
t1

(7, 2, 9, 1)

In [81]:
type(t1)

tuple

In [82]:
for t in t1:
    print(t)

7
2
9
1

In [83]:
t1[0] = 900

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [84]:
dic = {
    'samosa' : 10,
    'coke' : 20,
    'burger': 30
}

In [85]:
dic['burger']

30

In [86]:
dic['coke']

20

In [87]:
dic['pizza']

KeyError: 'pizza'

In [88]:
dic['pizza'] = 50

In [89]:
dic

{'samosa': 10, 'coke': 20, 'burger': 30, 'pizza': 50}

In [90]:
dic['pizza']

50

In [91]:
dic.keys()

dict_keys(['samosa', 'coke', 'burger', 'pizza'])

In [92]:
dic.values()

dict_values([10, 20, 30, 50])

In [93]:
dic.items()

dict_items([('samosa', 10), ('coke', 20), ('burger', 30), ('pizza', 50)])

In [94]:
dic

{'samosa': 10, 'coke': 20, 'burger': 30, 'pizza': 50}

In [99]:
if dic.get('chips') is None:
    print("this key doesn't exists")

this key doesn't exists

In [97]:
dic.get('pizza')

50

In [98]:
dic['pizza']

50